.product{
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}

.product img {
    width: 286px;
    height: 286px;
    margin: 10px;
    border-radius: 8px;
}
.product-info{
    margin: 10px;
}

.product-name{
    margin-bottom: 5px;
    margin-top: 10px;
}

.product-info p{
    margin-top: 10px;
}

.btn-cart{
    background: #FFE0B3;
    border: 1px solid #95A0A7;
    border: 0px 0px 8px 8px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.btn-cart :hover {
    background: orange;
}